<style>
  .timerdiv {
  width:95%;
  margin-left: 2px;
  }
  .timerdiv p {
    text-align: center;
    font-size: 2rem;
  }
  .timerdiv #stoptimer {
    display:none;
  }
  .timerdiv h6 {
  margin-top: 6px;
  }
  .timerdiv #timer {
  }
  </style>
  <div class="timerdiv">
  <script>
  // Start timer after user input
    function starttimer() {
    document.getElementById('starttimer').style.display = 'none';
    document.getElementById('inputtimer').style.display = 'none';
    document.getElementById('stoptimer').style.display = 'inline';
    document.getElementById('title').style.display = 'none';
    document.getElementById('formtimer').style.display = 'none';
    let timesum = document.timerset.inputtimer.value;
    let title = document.timerset.title.value;
  
  // Set the date we're counting down to
    let countDownDate = new Date().getTime() + timesum*60000;
  
  // Update the count down
   let x;
   x = setInterval(mytimer, 100);
  
  function mytimer() {
  // Get today's date and time
    let now = new Date().getTime();
      
  // Find the distance between now and the count down date
    let distance = countDownDate - now;
      
  // Time calculations for days, hours, minutes and seconds
    let days = Math.floor(distance / (1000 * 60 * 60 * 24));
    let hours = Math.floor((distance % (1000 * 60 * 60 * 24)) / (1000 * 60 * 60));
    let minutes = Math.floor((distance % (1000 * 60 * 60)) / (1000 * 60));
    let seconds = Math.floor((distance % (1000 * 60)) / 1000);
      
  // Output the result in an element with id="timer"
     document.getElementById("timer").innerHTML = "<h3 style='background-color: #000;'>" + title + "</h3>" + hours + "h "
    + minutes + "m " + seconds + "s ";
      
  // If the count down is over, write some text 
    if (timesum > 1440) {
      clearInterval(x);
      document.getElementById("timer").innerHTML = "";
    document.getElementById('starttimer').style.display = 'inline';
    document.getElementById('stoptimer').style.display = 'none';
    document.getElementById('inputtimer').style.display = 'inline';
    document.getElementById('title').style.display = 'inline';
    document.getElementById('formtimer').style.display = 'inline';
  alert ("Fehler: maximal 1440 Minuten erlaubt");  
      return "invalid";}
    
    if (distance < 0) {
      clearInterval(x);
      document.getElementById("timer").innerHTML = "abgelaufen";
    }
  }
  
  // stop timer 
  let stoptimer = document.getElementById("stoptimer");
  stoptimer.addEventListener("click", function() {
    clearInterval(x);
    document.getElementById("timer").innerHTML = "";
    document.getElementById('starttimer').style.display = 'inline';
    document.getElementById('stoptimer').style.display = 'none';
    document.getElementById('inputtimer').style.display = 'inline';
    document.getElementById('title').style.display = 'inline';
    document.getElementById('formtimer').style.display = 'inline';
  }, false);
  
  };
  
  
  </script>
  
  <p id="timer" class="bg-info text-white"></p>
  
  <form name="timerset" id="formtimer" style="width:95%;margin-left: 2px">
  <h6>Titel</h6>
  <input class="form-control" type="text" id="title" name="title"></input>
  <h6>Minuten</h6><input class="form-control" type="number" value="5" min="0" max="1440" name="inputtimer" id="inputtimer"></input>
  </form>
  <button class="btn btn-primary" onclick="starttimer()" id="starttimer" style="margin-top:6px;">Timer starten</button>
  <button id="stoptimer" class="btn btn-primary" style="margin-top:6px;">Timer löschen</button>
  </div>
  
  